<h1> <%= @pref_name %> の検索結果</h1>

<table class="table table-hover">
  <tr>
    <th class="text-center">温泉名</th>
    <th class="text-center">温泉名(かな)</th>
    <th class="text-center">所在地</th>
    <th class="text-center">泉質</th>
    <th class="text-center">評価</th>
  </tr>
  <% @onsens['Results']['Onsen'].each do |onsen| %>
    <tr>
      <td class="text-center"><%= onsen['OnsenName'] %></td>
      <td class="text-center"><%= onsen['OnsenNameKana'] %></td>
      <td class="text-center"><%= onsen['OnsenAddress'] %></td>
      <td class="text-center"><%= onsen['NatureOfOnsen'] %></td>
      <td class="text-center">
        <% if current_user.reviewed?(onsen['OnsenID']) %>
          <%= current_user.review_score(onsen['OnsenID']) %>
        <% else %>
          <div class="star" data-onsen-code="<%= onsen['OnsenID'] %>"></div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= javascript_include_tag 'raty' %>